<body>
    <div *ngIf="!uvalidated">
    Enter your User Name: <input #username type="text" name="username"><br><br>
    <button (click)="getUserPassword(username.value)">See my password</button>
    </div>
    <div *ngIf="validateUser()">
        <form #verify="ngForm" (ngSubmit)="checkAnswers(verify)">
        <div>{{user.question1}} :  <input *ngIf="validateUser()" ngModel required type="text" name="ans1"></div><br>

        <div>{{user.question2}} :  <input *ngIf="validateUser()" ngModel required type="text" name="ans2"></div><br>
        
        <button *ngIf="validateUser()" id="submit">Verify</button>
    </form>
    <br>
    <div>
    <a *ngIf="flag" routerLink="">Login</a>
    </div>
    </div>
</body>
