<body>
    <div>
        <div class="flex">
    <div style="text-align: left; vertical-align: text-top" *ngIf="ifLoggedIn()" class="noDecoration">Welcome {{userName}}</div>
    
    <div style="text-align: right; vertical-align: text-top" class="noDecorate"><button *ngIf="ifLoggedIn()" (click)="logout()">Logout</button></div>
    </div>
    <div align="center">
        <h3 style="color: black;">Welcome to Order Management</h3>
        <div>
            <a routerLink="/create">Create Order</a><br><br>
            <a routerLink="/orders">Display Orders</a>
        </div></div>
    
    </div>
    </body>
    
<!-- <table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Number</th>
            <th>Name</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let order of latestOrder">
            <td>{{order.orderNumber}}</td>
        </tr>
    </tbody>
</table> -->