.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);  
}
body {
    background: #93c572;
    font: 20pt 'Fira Sans', sans-serif;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    display: flex;
     border-right: 8px double black;  
     border-left: 8px double black; 
     border-top: 8px double black;
     border-bottom: 8px double black; 
  }
    
    button {
        background: gainsboro;
        border: 2px solid ;
        font: inherit;
        line-height: 1;
        margin: 0.5em;
        padding: 1em 2em;
        }